body {
    font-family: Arial;
}

#main {
    height: 30px;
    background-color: #000000;
}

/*đưa toàn bộ nội dung dọc sát bên trái*/
#main ul, #main li {
    padding: 0;
    margin: 0;
}

/*đưa toàn bộ nội dung 1 hàng */
#main li {
    /*position: Relative;*/
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

}


#main ul li{
    color: pink;

    width: 100px;
    height: 30px;
    /*display: block;*/
    /*!*text-decoration: none;*!*/
    text-align: center;
    line-height: 30px;
    background-color: black;
}

#main li:hover{
    background-color: red;
}


#main ul ul {
    visibility: hidden;
}

#main ul li:hover ul{
    visibility: visible;
}
