* {
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 500px;
    border:5px solid ;
    border-top-color: chartreuse;
    border-bottom-color: red;
    border-left-color: violet;
    border-right-color: gold;
}

#one {
    height: 120px;
    border: 1px dashed red;
    margin: 15px;
}

#two {
    height: 120px;
    border: 1px dashed red;
    margin: 15px;
}

#three {
    height: 120px;
    border: 1px dashed red;
    margin: 15px;
}